.pie-title-center {
    display: inline-block;
    position: relative;
    text-align: center;
}

.pie-value {
    display: block;
    position: absolute;
    font-size: 50px;
    height: 50px;
    width: 50px;
    top: 15%;
    left: 46%;
}

.col-sm-4 .pie-value {
    display: block;
    position: absolute;
    font-size: 50px;
    height: 50px;
    width: 50px;
    top: 18%;
    left: 39%;
}

.pie-value.colorRed {
    color: #fe5c5d;

}

.pie-value.colorBlue{
    color: #29ceff;
}
.pie-value.colorGreen{
    color: #87ab66;
}
.pie-value.colorYellow{
    color: #ffbb00;
}
